version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: band-managing-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api
    restart: unless-stopped

  api:
    build: ./api
    container_name: band-managing-api
    restart: unless-stopped
